/* mobile-first */

#nav {
  background-color: white;
  height: 100%;
  width: 95%;
  margin-top: 1px;
  padding: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#bg {
  height:812px;
  background: linear-gradient(70deg, white 40%, #0099ff 40%);
  background: linear-gradient(70deg, white 40%, #0099ff 40%);
  background: linear-gradient(70deg, white 40%, #0099ff 40%);
  background: linear-gradient(70deg, white 40%, #0099ff 40%);
}

#title{
  color: white;
  margin-left: 40%;
  padding: 5px;
}

#form{
  background-color: #EDEDED;
  border-radius: 20px;
  height: 40%;
  width:70%;
  padding: 5px;
  margin-left: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
  
}
#label{
  color:#0099ff;
  font-weight: bolder;
  padding: 20px;
  font-size: 20px;
  margin-left: 15px;
}

.input{
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  border-style: none;
  margin-top:20px;
  margin-left:30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button{
  width:75%;
  height: 35px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: -50px;
  background-color: #0099ff;
  border-style: none;
}

#button-title{
  color: white;
  font-weight: bolder;
}

#result{
  display: none;
}

.mobile-hide{
  display: none;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
 }
  
 .result-list{
  font-size: 20px;
  background-color: #EDEDED;
  text-align: justify;
  margin-top: 15px;
  margin-left: -30px;
  padding: 12px;
  color: #0099ff;
  border-radius: 5px;
 }
  
 #table{
  width: 500px;
  margin-top: 20px;
 }

 @media (min-width: 1024px){
  #nav {
    background-color: white;
    height: 100%;
    width: 99%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  #bg {
    height: 966px;
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
  }
  
  #title{
    color: white;
    margin-left: 40%;
    padding: 20px;
  }

  #second-title{
    color: #0099ff;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  #form{
    background-color: #EDEDED;
    border-radius: 20px;
    height: 280px;
    width:25%;
    padding: 25px;
    margin-left: 60%;
    margin-top: -450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    }
   
  #label{
    color:#0099ff;
    font-weight: bolder;
    padding: 20px;
    font-size: 20px;
    margin-left:15px;
  }
  
  .input{
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border-style: none;
    margin-top:20px;
    margin-left:30px;
    width: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  #button{
    width:85%;
    height: 35px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: -100px;
    background-color: #0099ff;
    border-style: none;
  }
  
  #button-title{
    color: white;
    font-weight: bolder;
  }

  #img-next{
    width: 20px;
  }
    
  .list{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
   }
    
   .curiosity{
    font-size: 20px;
    background-color: #EDEDED;
    text-align: justify;
    margin-top: -30px;
    padding: 15px;
    color: #0099ff;

    border-radius: 5px;
   }
    
   #table{
    width: 500px;
    margin-top: 20px;
   }

   .mobile-hide{ display: inline !important; }

   #result{
    display: none ;
  }
  
}

@media (min-width: 1024px){
  #bg {
    height: 992px;
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
    background: linear-gradient(70deg, white 40%, #0099ff 40%);
  }
}